<ion-content>
  <div>
    <ion-item>
      <ion-header>
        <ion-toolbar color="dark" padding col-12>
          <ion-title>DEMOGRAPHIC SURVEILLANCE SYSTEM</ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-item>
  </div>

  <h1 padding-left>Individuals</h1>
  <ion-item-divider></ion-item-divider>

  <!-- Build the column structure for the page -->
  <ion-row padding-left>
    <ion-col>
      <button ion-button round outline small (click)="setDisplay('form')"> Create a New Individual</button>
      <button ion-button round outline small color="secondary" (click)="setDisplay('list')"> Select an Existing
        Individual
      </button>
    </ion-col>
    <ion-col>
      <div *ngIf="this.displayType == 'form' ">
        <form (ngSubmit)="createIndividual()">

        </form>
      </div>
      <div *ngIf="this.displayType == 'list'">
        <ion-list>

        </ion-list>
      </div>

    </ion-col>
  </ion-row>

  <ion-row>
    <h1 padding-top>Selected Individuals</h1>
  </ion-row>

  <ion-list-header>
    <ion-row>
      <ion-col col-3>
        UUID <!--Location name is substitute till db connection-->
      </ion-col>
      <ion-col col-3>
        Individual Name
      </ion-col>
      <ion-col col-3>
        External Id
      </ion-col>
    </ion-row>
    <ion-row *ngIf="location != null && location != undefined">

    </ion-row>
  </ion-list-header>

  <ion-row>
    <ion-item>
      <button ion-button float-right outline round small [disabled]="this.individual != null"
              (click)="this.conditionsSatisfied()"> Select an Individual
      </button>
    </ion-item>
  </ion-row>
</ion-content>
