<ion-content>
  <div>
    <ion-item>
      <ion-header>
        <ion-toolbar color="dark" padding col-12>
          <ion-title>DEMOGRAPHIC SURVEILLANCE SYSTEM</ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-item>
  </div>

  <h1 padding-left>Individuals</h1>
  <ion-item-divider></ion-item-divider>

  <!-- Build the column structure for the page -->
  <ion-row padding-left>
    <ion-col>
      <button ion-button round outline small (click)="setDisplay('form')"> Create a New Individual</button>
      <button ion-button round outline small color="secondary" (click)="setDisplay('list')"> Select an Existing
        Individual
      </button>
    </ion-col>
    <ion-col>
      <div *ngIf="this.displayType == 'form' ">
        <form [formGroup]="individualForm" (ngSubmit)="createIndividual()">
          <ion-item>
            <ion-label>First Name</ion-label>
            <ion-input type="text"  formControlName="firstName" [(ngModel)]="individual.firstName"></ion-input>
          </ion-item>

          <ion-item *ngIf="individualForm.controls.firstName.hasError('required') && individualForm.controls.firstName.touched">
            <p ion-text color="danger">A individuals first name is required.</p>
          </ion-item>
          <ion-item *ngIf="individualForm.controls.firstName.hasError('pattern') && individualForm.controls.firstName.touched">
            <p ion-text color="danger"> A individuals first name must match this pattern [a-z, A-Z].</p>
          </ion-item>


          <ion-item>
            <ion-label>Middle Name</ion-label>
            <ion-input type="text"  formControlName="middleName" [(ngModel)]="individual.middleName"></ion-input>
          </ion-item>

          <ion-item *ngIf="individualForm.controls.middleName.hasError('pattern') && individualForm.controls.middleName.touched">
            <p ion-text color="danger"> A individuals middle name must match this pattern [a-z, A-Z].</p>
          </ion-item>

          <ion-item>
            <ion-label>Last Name</ion-label>
            <ion-input type="text"  formControlName="lastName" [(ngModel)]="individual.lastName"></ion-input>
          </ion-item>

          <ion-item *ngIf="individualForm.controls.lastName.hasError('required') && individualForm.controls.lastName.touched">
            <p ion-text color="danger">A individuals last name is required.</p>
          </ion-item>
          <ion-item *ngIf="individualForm.controls.lastName.hasError('pattern') && individualForm.controls.lastName.touched">
            <p ion-text color="danger"> A individuals last name must match this pattern [a-z, A-Z].</p>
          </ion-item>

          <ion-item>
            <ion-label>External Id</ion-label>
            <ion-input type="text"  formControlName="extId" [(ngModel)]="individual.extId"></ion-input>
          </ion-item>

          <ion-item *ngIf="individualForm.controls.extId.hasError('required') && individualForm.controls.extId.touched">
            <p ion-text color="danger">A individuals external is required.</p>
          </ion-item>
          <ion-item *ngIf="individualForm.controls.extId.hasError('pattern') && individualForm.controls.extId.touched">
            <p ion-text color="danger"> A individuals external id must match this pattern [a-z, A-Z, 0-9].</p>
          </ion-item>

          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-input type="text"  formControlName="gender" [(ngModel)]="individual.gender"></ion-input>
          </ion-item>

          <ion-item *ngIf="individualForm.controls.gender.hasError('required') && individualForm.controls.gender.touched">
            <p ion-text color="danger">A individuals gender is required.</p>
          </ion-item>
          <ion-item *ngIf="individualForm.controls.gender.hasError('pattern') && individualForm.controls.gender.touched">
            <p ion-text color="danger"> A individuals gender must match this pattern M for Male, F for Female.</p>
          </ion-item>

          <ion-item>
            <ion-label>Date of Birth</ion-label>
            <ion-input type="date"  formControlName="dob" [(ngModel)]="individual.dob"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Age</ion-label>
            <ion-input type="number"  formControlName="age" [(ngModel)]="individual.age"></ion-input>
          </ion-item>

          <ion-item *ngIf="individualForm.controls.age.hasError('pattern') && individualForm.controls.age.touched">
            <p ion-text color="danger"> A individuals age name must consist of this pattern [0-9].</p>
          </ion-item>

          <ion-item *ngIf="individualForm.controls.age.hasError('min') && individualForm.controls.age.touched">
            <p ion-text color="danger"> A individuals age must be greater than or equal to 0</p>
          </ion-item>

          <ion-item *ngIf="individualForm.controls.age.hasError('max') && individualForm.controls.age.touched">
            <p ion-text color="danger"> A individuals age must be less than or equal to 105</p>
          </ion-item>

          <button ion-button float-right [disabled]="!individualForm.valid" outline round small type="submit"> Create</button>
        </form>
      </div>
      <div *ngIf="this.displayType == 'list'">
        <ion-list >
          <ion-item *ngFor="let ind of this.individualsList">
            {{ind.firstName}} {{ind.lastName}}
            <button ion-button round outline (click)="setIndividual(ind)">Select</button>
          </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <h1 padding-top padding-right>Selected Individuals</h1>
  </ion-row>
  <ion-list-header>
    <ion-row>
      <ion-col col-3>
        Individual Name
      </ion-col>
      <ion-col col-3>
        External Id
      </ion-col>
      <ion-col col-3>
       Gender
      </ion-col>
      <ion-col col-3>
        Age
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let individual of selectedIndividuals">
      <ion-col col-3>
        {{individual.firstName}} {{individual.middleName}} {{individual.lastName}}
      </ion-col>
      <ion-col col-3>
        {{individual.extId}}
      </ion-col>
      <ion-col col-3>
        {{individual.gender}}
      </ion-col>
      <ion-col col-3>
        {{individual.age}}
      </ion-col>
    </ion-row>
  </ion-list-header>

  <ion-row>
    <ion-item>
      <button ion-button float-right outline round small [disabled]="this.selectedIndividuals[0] == null"
              (click)="this.conditionsSatisfied()"> Select an Individual
      </button>
    </ion-item>
  </ion-row>
</ion-content>
