<ion-content>
  <div>
    <ion-item>
      <ion-header>
        <ion-toolbar color="dark" padding col-12>
          <ion-title>DEMOGRAPHIC SURVEILLANCE SYSTEM</ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-item>
  </div>

  <!-- Test the connection to DB-->


  <h1 padding-left>Baseline Census</h1>
  <ion-item-divider></ion-item-divider>

  <!-- Build the column structure for the page -->
  <ion-row padding-left>

    <!-- Field Column-->
    <ion-col>
      <!--Collection Date Field -->
      <ion-row padding-bottom>
        <ion-col>
          <ion-row>
            <h6>Collection Date: </h6>
          </ion-row>
          <ion-row padding-left padding-bottom *ngIf="collectionDate != null || collectionDate != ''">
            <p>{{collectionDate}}</p>
          </ion-row>
          <ion-row padding-bottom>
            <button ion-button round outline small (click)="setSelected('collectionDate')">Set Collection Date</button>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-item-divider></ion-item-divider>
      <!--Fieldworker Field -->
      <ion-row padding-bottom>
        <ion-col>
          <ion-row>
            <h6>Fieldworker:</h6>
          </ion-row>
          <ion-row padding-left padding-bottom *ngIf="fieldworker != null">
            <p>{{fieldworker.firstName}} {{fieldworker.lastName}}</p>
          </ion-row>
          <ion-row padding-bottom>
            <button ion-button round outline small (click)="setSelected('worker')">Select Fieldworker</button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <!-- Selection List for Fieldworker-->
    <ion-col padding-top>

      <div *ngIf="selected == 'worker'">
        <div *ngIf="fieldworkers == null; else elseBlock">
          <strong>No fieldworkers are in the database</strong>
        </div>
        <ion-scroll>
          <div>
          <ng-template #elseBlock>
            <strong>Select a fieldworker below:</strong>


            <ion-list *ngFor="let worker of fieldworkers">
              <ion-item>
                {{worker.firstName}} {{worker.lastName}}
                <button float-right ion-button (click)="setFieldworker(worker)">Select</button>
              </ion-item>
            </ion-list>
          </ng-template>
          </div>
        </ion-scroll>
      </div>


      <!-- Date Collection Form -->
      <div *ngIf="selected == 'collectionDate'">
        <strong>Set Collection Date: </strong>
        <ion-item>
          <ion-label>Collection Date</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="collectionDate"></ion-datetime>
        </ion-item>


      </div>
    </ion-col>

    <!-- Data Entry Form -->
    <ion-col>
    </ion-col>

    <!-- Options for Field -->
    <ion-col>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-item>
      <button ion-button float-right outline round small [disabled]="this.collectionDate == null
                                                  || this.fieldworker == null"
              (click)="this.conditionsSatisfied()"> Select a Location
      </button>
    </ion-item>
  </ion-row>
</ion-content>
